{% extends 'base.html.twig' %}

{% block title %}Edit StatutsPersMorale{% endblock %}

{% block body %}
    <h1>Edit StatutsPersMorale</h1>

    {{ include('statuts_pers_morale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('statuts_pers_morale_index') }}">back to list</a>

    {{ include('statuts_pers_morale/_delete_form.html.twig') }}
{% endblock %}
