//$mainGreen: #85b53d;

// paths
$imgPath: "../img/";
//$fontsPath: "../fonts/";


// fonts
$arial : 'arial, sans-serif';


// color
$red: #C80F2D;
$redDark: #C80F2D;
$grey: #878786;
$greyC: #ccc;
$greyF: #707070;
$green: #5CB85C;

