<br>
<table id="listPJ" class="table">
    <thead>
    <tr>
        <th>N°</th>
        <th>Date d'ajout dossier</th>
        <th>InformationPj</th>
        <th>Liens d'accès</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td></td>
        </tr>
    </tbody>
</table>