<div class="table-responsive">
    <table id="listPj" class="dataTable table table-striped">
        <thead>
        <th><span>N°</span></th>
        <th><span>Date d'ajout dossier</span></th>
        <th><span>Information PJ</span></th>
        <th><span>Lien d'accès</span></th>
        <th><span>Action</span></th>
        </thead>
    </table>
</div>