.sidebar {
	background: $red;
	color: #fff;
	display: flex;
	flex-direction: column;
	padding: 0;
	.sidebar-close {
		background: 0;
		border: 0;
		color: #fff;
		display: none;
		font-size: 24px;
		font-weight: 800;
		line-height: 55px;
		opacity: .8;
		padding: 0 1rem;
		position: absolute;
		right: 0;
		&:hover {
			opacity: 1;
		}
	}
	.nav {
		padding: 15px 0;
	}
	.nav-item {
		position: relative;
		z-index: 0;
		&:after {
			background-color: rgba(255, 255, 255, 0.3);
			content: "";
			display: inline-block;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 30px);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	.nav-link {
		color: #fff;
		display: flex;
		flex-wrap: nowrap;
		font-size: 14px;
		padding: 5px 15px;
		i {
			font-size: 14px;
			line-height: 20px;
			margin-right: 10px;
			text-align: right;
			width: 20px;
		}
		&.active {
			background-color: $redDark;
		}
	}
	.nav-dropdown-toggle {
		&:before {
			background: none;
			content: "\e910";
			display: block;
			font-family: icomoon;
			font-style: normal;
			font-size: 14px;
			position: absolute;
			top: 5px; right: 15px;
			transition: -webkit-transform .3s;
			transform: rotate(-90deg);
			transition: transform .3s;
  			transition: transform .3s,
		}
	}
	.nav-dropdown {
		&.open {
			background-color: rgba(0, 0, 0, 0.15);
			> .nav-dropdown-toggle {
				&::before {
  					transform: rotate(0deg);
				}
			}
		}
	}
	.nav-dropdown-items {
		.nav-item {
			&:after {
				display: none;
			}
		}
		.nav-link {
			padding-left: 60px;
			position: relative;
			z-index: 0;
			&:before {
				background-color: #fff;
				border-radius: 50%;
				content: "";
				display: inline-block;
				position: absolute;
				left: 45px;
				top: 11px;
				vertical-align: middle;
				width: 8px; height: 8px;
			}
			span {
				vertical-align: middle;
			}
			&.active {
				background-color:  $redDark;
			}
			i {
				display: none;
			}
		}
	}
}
