@import "~@coreui/icons/css/coreui-icons.min.css";
@import "~flag-icon-css/css/flag-icon.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~simple-line-icons/css/simple-line-icons.css";
@import "icomoon.css";
@import "icofont.css";
@import "style.css";
@import "styles.css";
@import "pace.min.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "jquery.ajaxloader.css";

#search_box{
    display: none;
}
#listDossier th{
    background-color: #C80F2D;
    color: #fff;
    text-align: center;
}

.col-form-label{
    display: none;
}

.datepicker {
    z-index: 10000;
}
.dataTable .btn-editAuxi i {
    color: #5CB85C;
}
.dataTable .btn-removeAuxi i {
    color: #C80F2D;
}

#dossier_File{
    display: none;
}
