
<div class="dossier-tabs">
    <div class="tab-content" id="DossierTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            {% if form is defined and form is not null %}
                {{ include('dossier/form.html.twig') }}
            {% else %}
            {{ render(controller('App\\Controller\\Admin\\DossierController::createDossier')) }}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

        </div>

        <div class="tab-pane fade" id="intervenant" role="tabpanel" aria-labelledby="intervenant-tab">
            {% if isGranted is defined and isGranted == true %}
                {{ render(controller('App\\Controller\\IntervenantController::index')) }}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="auxiliaire" role="tabpanel" aria-labelledby="auxiliaire-tab">
            {% if isGranted is defined and isGranted == true %}
                {{ render(controller('App\\Controller\\AuxiliairesController::index')) }}
            {% endif %}
        </div>

        <div class="tab-pane fade show active" id="cloture" role="tabpanel" aria-labelledby="cloture-tab">
            {#{% if form is defined and form is not null %}#}
            {#{% else %}#}
        </div>
        <div class="tab-pane fade" id="historique" role="tabpanel" aria-labelledby="historique-tab">
        </div>
    </div>
</div>