
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="nav-icon icon-speedometer"></i> Tableau de bord
                <span class="badge badge-primary">NEW</span>
            </a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i> Administration</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i> Gestion des utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i> Gestion des intervenants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('statuts_pers_morale_index') }}">
                        <i class="nav-icon icon-puzzle"></i> Gestion des Statuts du Personne Morale</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<button class="sidebar-minimizer brand-minimizer" type="button"></button>