{% extends 'error.html.twig' %}
{% block error %}
    <center>
        <h2 class="text-danger"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Acces interdit</h2>

        <p class="lead">
            Vous n'avez pas la permission pour acceder dans cette page.
        </p>
        <p>
            Veuillez contacter votre administrateur.
        </p>
    </center>
{%  endblock%}
