{% extends 'error.html.twig' %}

{% block error %}
    <center>
        <h1 class="text-danger"> <i class="fa fa-eye-slash"> </i>  Page introuvable:  </h1>

        <p class="lead">
        <h1>Nous n'avons pas pu trouver la page que vous avez demandé</h1>
        </p>

        <p>
        <h2> Veuillez vérifier votre orthographe ou <i><a href="#"> Revenir dans la page d'accueil</a></i></h2>
        </p>
    </center>
{% endblock %}