{% extends 'error.html.twig' %}

{% block error %}
    <center>
        <h2 class="text-danger"> <i class="fa fa-eye-slash"> </i>  Page introuvable:  </h2>

        <p class="lead">
        Nous n'avons pas pu trouver la page que vous avez demandé.
        </p>

        <p>
         Veuillez vérifier votre orthographe ou <i><a href="{{ path('dashboard') }}"> Revenir dans la page d'accueil</a></i>.
        </p>
    </center>
{% endblock %}