<div class="form-bloc standard-form resetPwd-form">
    <form id="resetPassword" class="form-horizontal" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
            <label class="form-label" for="username">{{ 'label.email'|trans }}</label>
            <input class="form-control" type="text" placeholder="{{ 'label.saisi.email'|trans }}" id="email_user" name="email" required="required" />
        </div>
        <div class="btn-group" role="group">
            <input class="btn btn-primary" id="buttonResetting" type="submit" value="{{ 'label.save'|trans }}" />
        </div>
    </form>
</div>