<img src="{{ asset('/build/images/load.34fb4701.gif') }}" alt="" style="display: none" id="loadingGif">
<form id="resetPassword" class="form-horizontal" method="POST" class="fos_user_resetting_request">
    <div>
        <label class="col-form-label" for="username">{{ 'label.email'|trans }}</label>
        <input class="form-control" type="text" placeholder="{{ 'label.saisi.email'|trans }}" id="email_user" name="email" required="required" />
    </div>
    <div>
        <input class="btn btn-danger" id="buttonResetting" type="submit" value="{{ 'label.save'|trans }}" />
    </div>
</form>